* {
    margin :  0 ;
    padding:  0;

}

main {
     background : rgb(164, 164, 206);

}


.container-feed {
   background:  rgb(164, 164, 206);
   display: flex;
    flex-direction: columm;
    gap: 10px ;
    align-items: centro;
    max-width: 800px ;
}

textarea {
    width : 400px ; 
    height: 120px ;

}

.postagem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .postagem p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .postagem p:last-child {
    color: #666;
  }

footer {
    display: flex;
    align-items: center;
    max-width: 200px ;
}